SUPABASE_URL=https://ovwzkeyyapbarmtpbnqy.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92d3prZXl5YXBiYXJtdHBibnF5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA1OTIxNSwiZXhwIjoyMDkxNjM1MjE1fQ.T8H35DvhHGk0sEFWjzW2Lc0li4BtJWUEdSq9Vj1Inys
DATABASE_URL=https://ep-long-field-ap00nju6.apirest.c-7.us-east-1.aws.neon.tech/neondb/rest/v1

# Optional
MIGRATE_BATCH_SIZE=500
MIGRATE_INCLUDE_SHOPEE=false
# MIGRATE_ONLY=ajw_fin_income,ajw_fin_expense
